# configuration for "master" branch
-
  branches:
    only:
      - master

  environment:
    matrix:
      - CLI_VERSION: 1.0.0-preview2-003131

  install:
    # .NET Core SDK binaries
    - ps: .\dotnet-install.ps1
	- ps: dotnet --info
  version: '{build}'  
  skip_commits:
    message: /(Created.*\.(png|jpg|jpeg|bmp|gif))|(README.md)/
  nuget:
    disable_publish_on_pr: true
  build_script:  
  - ps: .\Build.ps1
  test: off  
  artifacts:  
  - path: .\artifacts\**\*.nupkg
    name: NuGet
  pull_requests:  
    do_not_increment_build_number: true
  configuration: Release
  deploy:  
  - provider: NuGet
    name: production
    api_key:
      secure: OdlepcT+ry0jb8FB3n6AQV23YA5/TtBC572OTrE/oLiKuMu807Re9Pqo78fYXbNI
    on:
      branch: master
      appveyor_repo_tag: true

# configuration for "dev"
-
  branches:
    only:
      - dev

  environment:
    matrix:
      - CLI_VERSION: 1.0.0-preview2-003131

  install:
    # .NET Core SDK binaries
    - ps: .\dotnet-install.ps1
	- ps: dotnet --info
  version: '{build}'  
  skip_commits:
    message: /(Created.*\.(png|jpg|jpeg|bmp|gif))|(README.md)/
  nuget:
    disable_publish_on_pr: true
  build_script:  
  - ps: .\Build.ps1
  test: off  
  artifacts:  
  - path: .\artifacts\**\*.nupkg
    name: NuGet
  pull_requests:  
    do_not_increment_build_number: true
  configuration: Debug
  deploy:  
  - provider: NuGet
    server: https://www.myget.org/F/bapul/api/v2/package
    api_key:
      secure: X8/Cm8f2M7FVtOuQftWgMlQv8XNMXJ8RbtVkeQkTgoaLb5Bv6Vf5KWcYZSEJ/wIc
    skip_symbols: true
    on:
      branch: dev
# "fall back" configuration for all other branches
# no "branches" section defined
# do not deploy at all
-
  configuration: Debug